#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
  justify-items: center;
}

.logo {
  height: 5em;
  padding: 0.1rem 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.text-iron {
  color: #0a035a;
}

.card-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border: 2px solid black;
  width: 75%;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 10px
}

.card-container img {
  width: 50%;
  height: auto;
  margin-right: 10px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: flex-start;
}

.card-info span {
  font-weight: bold;
}

#description {
  font-style: italic;
}

#great-deal {
  border-radius: 8px;
  padding: 10px;
  color: black;
  font-weight: bold;
  background-color: rgb(11, 187, 11);

}

#premium {
  border-radius: 8px;
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color:rgb(12, 131, 228);
}

#all-inclusive {
  border-radius: 8px;
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color:rgb(12, 131, 228);
}

#delete {
  background-color: rgb(166, 163, 163);
}